.card{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    border-radius: var(--card-border-radius)
}
.card__content{
    width: 300px;
    position: relative;
}
.card__content:hover{
    cursor: pointer;
}